<section id="about-us" class="section-about-us section">
  <div class="container container-section-about">
    <div class="desctop-section">
      <h2 class="title-about-us">About Us</h2>
      <p class="section-about-us-p-1">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="section-about-us-p-2">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <picture>
      <!-- Desktop screen 1440-->
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/about-us/girl-and-boy-desktop1440.jpg    1x,
          ./images/about-us/girl-and-boy-desktop1440@2x.jpg 2x
        "
        type="image/jpg"
        width="709"
        height="545"
      />
      <!-- Desktop screen 1280-->
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/about-us/girl-and-boy-desktop1280.jpg    1x,
          ./images/about-us/girl-and-boy-desktop1280@2x.jpg 2x
        "
        type="image/jpg"
        width="594"
        height="545"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/about-us/girl-and-boy-tablet.jpg    1x,
          ./images/about-us/girl-and-boy-tablet@2x.jpg 2x
        "
        type="image/jpg"
        width="704"
        height="545"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/about-us/girl-and-boy-mobile.jpg    1x,
          ./images/about-us/girl-and-boy-mobile@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="section-about-us-img"
        src="./images/about-us/girl-and-boy-mobile.jpg"
        alt="shirt"
        width="335"
        height="499"
      />
    </picture>
  </div>
</section>
