<section id="collection" class="our-collection-section">
  <div class="collection-wrapper container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <img
          class="vyshyvanka-image"
          srcset="
            ./images/our-collection/img1mobile.jpg         335w,
            ./images/our-collection/img1tablet.jpg         342w,
            ./images/our-collection/img1desktop1280.jpg    347w,
            ./images/our-collection/img1desktop1440.jpg    400w,
            ./images/our-collection/img1mobile@2x.jpg      670w,
            ./images/our-collection/img1tablet@2x.jpg      684w,
            ./images/our-collection/img1desktop1280@2x.jpg 694w,
            ./images/our-collection/img1desktop1440@2x.jpg 800w
          "
          sizes="(max-width: 767px) 335px, 
                  (min-width: 768px) 342px, 
                  (min-width: 1280px) 347px,
                  (min-width: 1440px) 400px 
                  "
          src="./images/our-collection/img1desktop1440.jpg"
          alt="august poltava women's blousering"
          width="400"
        />
        <div class="desc-wrapper">
          <h3 class="vyshyvanka-title vyshyvanka-title-1">
            august poltava women's blousering
          </h3>
          <h3 class="vyshyvanka-title-2">august poltava women's blouse...</h3>
          <p class="vyshyvanka-desc">3300 uah</p>
        </div>
      </li>
      <li class="collection-item">
        <img
          class="vyshyvanka-image"
          srcset="
            ./images/our-collection/img2mobile.jpg         335w,
            ./images/our-collection/img2tablet.jpg         342w,
            ./images/our-collection/img2desktop1280.jpg    347w,
            ./images/our-collection/img2desktop1440.jpg    400w,
            ./images/our-collection/img2mobile@2x.jpg      670w,
            ./images/our-collection/img2tablet@2x.jpg      684w,
            ./images/our-collection/img2desktop1280@2x.jpg 694w,
            ./images/our-collection/img2desktop1440@2x.jpg 800w
          "
          sizes="(max-width: 767px) 335px, 
                  (min-width: 768px) 342px, 
                  (min-width: 1280px) 347px,
                  (min-width: 1440px) 400px 
                  "
          src="./images/our-collection/img2desktop1440.jpg"
          alt="women's blouse gorgany"
          width="400"
        />
        <div class="desc-wrapper">
          <h3 class="vyshyvanka-title">women's blouse gorgany</h3>
          <p class="vyshyvanka-desc">3350 uah</p>
        </div>
      </li>
      <li class="collection-item">
        <img
          class="vyshyvanka-image"
          srcset="
            ./images/our-collection/img3mobile.jpg         335w,
            ./images/our-collection/img3tablet.jpg         342w,
            ./images/our-collection/img3desktop1280.jpg    347w,
            ./images/our-collection/img3desktop1440.jpg    400w,
            ./images/our-collection/img3mobile@2x.jpg      670w,
            ./images/our-collection/img3tablet@2x.jpg      684w,
            ./images/our-collection/img3desktop1280@2x.jpg 694w,
            ./images/our-collection/img3desktop1440@2x.jpg 800w
          "
          sizes="(max-width: 767px) 335px, 
                  (min-width: 768px) 342px, 
                  (min-width: 1280px) 347px,
                  (min-width: 1440px) 400px 
                  "
          src="./images/our-collection/img3desktop1440.jpg"
          alt="women's blouse crimea"
          width="400"
        />
        <div class="desc-wrapper">
          <h3 class="vyshyvanka-title">women's blouse crimea</h3>
          <p class="vyshyvanka-desc">4000 uah</p>
        </div>
      </li>
      <li class="collection-item">
        <img
          class="vyshyvanka-image"
          srcset="
            ./images/our-collection/img4mobile.jpg         335w,
            ./images/our-collection/img4tablet.jpg         342w,
            ./images/our-collection/img4desktop1280.jpg    347w,
            ./images/our-collection/img4desktop1440.jpg    400w,
            ./images/our-collection/img4mobile@2x.jpg      670w,
            ./images/our-collection/img4tablet@2x.jpg      684w,
            ./images/our-collection/img4desktop1280@2x.jpg 694w,
            ./images/our-collection/img4desktop1440@2x.jpg 800w
          "
          sizes="(max-width: 767px) 335px, 
                  (min-width: 768px) 342px, 
                  (min-width: 1280px) 347px,
                  (min-width: 1440px) 400px 
                  "
          src="./images/our-collection/img4desktop1440.jpg"
          alt="men's shirt verkhovina"
          width="400"
        />
        <div class="desc-wrapper">
          <h3 class="vyshyvanka-title">men's shirt verkhovina</h3>
          <p class="vyshyvanka-desc">3100 uah</p>
        </div>
      </li>
      <li class="collection-item">
        <img
          class="vyshyvanka-image"
          srcset="
            ./images/our-collection/img5mobile.jpg         335w,
            ./images/our-collection/img5tablet.jpg         342w,
            ./images/our-collection/img5desktop1280.jpg    347w,
            ./images/our-collection/img5desktop1440.jpg    400w,
            ./images/our-collection/img5mobile@2x.jpg      670w,
            ./images/our-collection/img5tablet@2x.jpg      684w,
            ./images/our-collection/img5desktop1280@2x.jpg 694w,
            ./images/our-collection/img5desktop1440@2x.jpg 800w
          "
          sizes="(max-width: 767px) 335px, 
                  (min-width: 768px) 342px, 
                  (min-width: 1280px) 347px,
                  (min-width: 1440px) 400px 
                  "
          src="./images/our-collection/img5desktop1440.jpg"
          alt="mountain men's shirt"
          width="400"
        />
        <div class="desc-wrapper">
          <h3 class="vyshyvanka-title">mountain men's shirt</h3>
          <p class="vyshyvanka-desc">3300 uah</p>
        </div>
      </li>
      <li class="collection-item">
        <img
          class="vyshyvanka-image"
          srcset="
            ./images/our-collection/img6mobile.jpg         335w,
            ./images/our-collection/img6tablet.jpg         342w,
            ./images/our-collection/img6desktop1280.jpg    347w,
            ./images/our-collection/img6desktop1440.jpg    400w,
            ./images/our-collection/img6mobile@2x.jpg      670w,
            ./images/our-collection/img6tablet@2x.jpg      684w,
            ./images/our-collection/img6desktop1280@2x.jpg 694w,
            ./images/our-collection/img6desktop1440@2x.jpg 800w
          "
          sizes="(max-width: 767px) 335px, 
                  (min-width: 768px) 342px, 
                  (min-width: 1280px) 347px,
                  (min-width: 1440px) 400px 
                  "
          src="./images/our-collection/img6desktop1440.jpg"
          alt="Women's blouse Gorgany"
          width="400"
        />
        <div class="desc-wrapper">
          <h3 class="vyshyvanka-title">men's shirt yasen</h3>
          <p class="vyshyvanka-desc">1700 uah</p>
        </div>
      </li>
    </ul>
  </div>
</section>
