<footer class="footer">
  <div class="container">
    <ul class="footer-nav-list">
      <li><a href="#about-us" class="footer-nav-link">About us</a></li>
      <li><a href="#collection" class="footer-nav-link">Our collection </a></li>
      <li>
        <a href="#order_section" class="footer-nav-link">CUSTOMER ORDER</a>
      </li>
      <li><a href="#testimonials" class="footer-nav-link">TEstimonials</a></li>
    </ul>
    <p class="footer-paragraf">
      A touch of <span class="footer-text">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
