<header class="page-header">
    <div class="header-container container">
        <nav class="header-navigation">
            <a class="header-logo link" href="index.html">
                <img class="logo-img" src="/images/logo.svg" alt="Logo" width="44" height="39" />
            </a>
            <ul class="header-navigation-list list">
                <li class="nav-item"><a class="nav-item-link link" href="">About us</a></li>
                <li class="nav-item"><a class="nav-item-link link" href="">Our collection</a></li>
                <li class="nav-item"><a class="nav-item-link link" href="">Customer Order</a></li>
                <li class="nav-item"><a class="nav-item-link link" href="">Testimonials</a></li>
            </ul>
        </nav>

        <div class="social-and-btn">
            <address>
                <a class="header-phone link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </address>
            <div class="header-social">
                <ul class="header-social-list list">
                    <li class="header-social-item">
                        <a class="header-social-link" href="https://www.facebook.com/goITclub/">
                            <svg class="header-social-icon" width="28" height="28">
                                <use href="/images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-social-item">
                        <a class="header-social-link" href="https://www.instagram.com/goitclub/">
                            <svg class="header-social-icon" width="28" height="28">
                                <use href="/images/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-social-item">
                        <a class="header-social-link" href="https://www.youtube.com/c/GoIT">
                            <svg class="header-social-icon" width="28" height="28">
                                <use href="/images/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="header-burger" type="button">
                <svg class="header-btn" width="36" height="24">
                    <use href="/images/icons.svg#icon-burger">
                    </use>
                </svg>
            </button>
        </div>

    </div>
</header>