<section class="hero">
  <div class="container hero-container">
    <div class="hero-title-button">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-title-span">Ukrainian</span> artistry in every stitch.
      </h1>
      <div class="hero-container-decor">
        <svg class="icon-hero" width="52" height="51">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="hero-text">all embroidery is made by hand</p>
      </div>
      <div class="hero-link-container">
        <a class="hero-link" href="#order_section"
          >order
          <svg class="icon-hero-link" width="26" height="10">
            <use href="./images/icons.svg#icon-hero-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <img
      class="image-decor"
      src="./images/Hero/imageUkraine.png"
      alt="Ukrainian traditional decor"
      width="157"
      height="191"
      srcset="
        ./images/Hero/imageUkraine.png,
        ./images/Hero/imageUkraine@2x.png 2x
      "
    />
    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/Hero/girldesktop.jpg    1x,
          ./images/Hero/girldesktop@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width:768px)"
        srcset="
          ./images/Hero/girltablet.jpg    1x,
          ./images/Hero/girltablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/Hero/girlmobile.jpg    1x,
          ./images/Hero/girlmobile@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="hero-image"
        src="./images/Hero/girlmobile.jpg"
        alt="girl in Ukrainian national clothes"
      />
    </picture>
  </div>
</section>
