<section class="hero">
  <div class="container hero-container">
    <div class="hero-title-button">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-title-span">Ukrainian</span> artistry in every stitch.
      </h1>
      <a class="hero-link" href="#order_section"
        >order
        <svg class="icon-hero-link" width="26" height="10">
          <use href="./images/icons.svg#icon-hero-arrow"></use>
        </svg>
      </a>
      <div class="hero-container-decor">
        <svg class="icon-hero" width="52" height="51">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="hero-text">all embroidery is made by hand</p>
      </div>
    </div>
    <img
      class="image-decor"
      src="./images/Hero/imageUkraine.png"
      alt="Ukrainian traditional decor"
      width="157"
      height="191"
      srcset="
        ./images/Hero/imageUkraine.png,
        ./images/Hero/imageUkraine@2x.png 2x
      "
    />
    <img
      class="hero-image"
      srcset="
        ./images/Hero/girlmobile.jpg     335w,
        ./images/Hero/girldesktop.jpg    392w,
        ./images/Hero/girltablet.jpg     413w,
        ./images/Hero/girlmobile@2x.jpg  670w,
        ./images/Hero/girltablet@2x.jpg  826w,
        ./images/Hero/girldesktop@2x.jpg 784w
      "
      sizes="
      (max-width: 767px) 335px,
      (min-width: 768px) 413px, 
      (min-width: 1200px) 392px
      "
      src="./images/Hero/girldesktop.jpg"
      alt="girl in Ukrainian national clothes"
    />
  </div>
</section>
