.section {
    padding-bottom: 80px;
}

.title-about-us {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: -0.03em;
}

.section-about-us-p-1 {
    margin-bottom: 20px;
}

.section-about-us-p-1,
.section-about-us-p-2 {
    color: var(--tertiary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
}

.section-about-us-img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 50px;
}

.section-about-us {
    background-image: url("../images/about-us/ornament-mobile-about-us.png");
    background-position: right bottom 18px;
    background-size: auto;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .section {
        padding-bottom: 100px;
    }

    .section-about-us-img {
        margin-top: 40px;
    }

    .section-about-us {
        background-image: url("../images/about-us/ornament-tablet-about-us.png");
        background-position: right bottom 50px;
    }

    .title-about-us {
        font-size: 44px;
        line-height: 1.45;
    }

    .section-about-us-p-1,
    .section-about-us-p-2 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1220px) {
    .section {
        padding-bottom: 150px;
    }



    .container-section-about {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .section-about-us-img {
        margin-top: 0;
    }

    .section-about-us {
        background-image: url("../images/about-us/ornament-desktop-1280-about-us.png");
        background-position: right bottom 70px;
    }


    .desctop-section {
        max-width: 436px;
    }
}

@media screen and (min-width: 1440px) {
    .section-about-us {
        background-image: url("../images/about-us/ornament-desktop-1440-about-us.png");
    }

    .desctop-section {
        max-width: 481px;
    }
}