/* HEADER STYLES */
.header-navigation-list {
  display: none;
}
address {
  display: none;
}
.page-header {
  padding-top: 20px;
  padding-bottom: 60px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: block;
  width: 44px;
  height: 39px;
}
.logo-img {
  height: 39px;
  display: inline;
}
.header-navigation {
  margin-right: 87px;
}
.header-social-list {
  display: flex;
  gap: 12px;
}
.header-social-item {
  width: 44px;
  height: 44px;
}
.header-social-link {
  display: flex;
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-link:hover,
.header-social-link:focus {
  background-color: transparent;
  border-color: var(--secondary-color);
}
.header-social-icon {
  fill: var(--main-color);
  opacity: 0.8;
}
.header-burger {
  line-height: 0;
  stroke: var(--secondary-color);
  background-color: transparent;
  border: none;
  padding: 0;
}
.social-and-btn {
  display: flex;
  gap: 12px;
}
/* HEADER TABLET STYLES */
@media screen and (min-width: 768px) {
  .page-header {
    padding-bottom: 80px;
  }
  .header-navigation {
    margin-right: 0;
  }
  .header-container {
    gap: 440px;
  }
}
/* HEADER DESKTOP STYLES */
@media screen and (min-width: 1220px) {
  .page-header {
    padding-bottom: 100px;
  }
  .header-container {
    gap: 129px;
  }
  .header-burger {
    display: none;
  }
  .header-navigation {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  .header-social-list {
    margin-right: 0;
  }
  .header-navigation-list {
    display: flex;
    gap: 25px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .nav-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover,
  .nav-item:focus {
    color: var(--secondary-color);
  }
  address {
    display: flex;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  address:hover,
  address:focus {
    border-color: var(--secondary-color);
  }
}
/* HEADER DESKTOP_1440 STYLES */
@media screen and (min-width: 1440px) {
  .header-container {
    gap: 289px;
  }
}
